.cfg
.bash_history
.scala_history
.scala_history
.netrc
.Xauthority
*.swp
.DS_Store
.config/chromium/Safe*
idea-IC-172.3317.76/
Playing/
.local/lib/python2.7/
bitext/
.theano/
.sbt/
.ivy2/
Downloads/
.config/chromium/
.nv/
IdeaProjects/
.cache/
.config/pulse/
*.swp
.local/share/
.local/bin/
.local/lib/
.IdeaIC2017.2/
.m2/
.viminfo
.wget-hsts
.lilypond-fonts.cache-2
.Trash/
.dydra/
.cpan/build/
.cpan/sources/
.fontconfig/
.spumux/
.config/MonoDevelop/addin-db-001/
.thumbnails/
