<ProjectConfig>
  <Prefixes>
    <Prefix namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" id="rdf"></Prefix>
    <Prefix namespace="http://www.w3.org/2006/03/wn/wn20/instances/" id="wn20instances"></Prefix>
    <Prefix namespace="http://www.w3.org/2002/07/owl#" id="owl"></Prefix>
    <Prefix namespace="http://www.w3.org/2006/03/wn/wn20/schema/" id="wn20schema"></Prefix>
    <Prefix namespace="http://www.w3.org/2000/01/rdf-schema#" id="rdfs"></Prefix>
    <Prefix namespace="http://plwnrdf.sourceforge.net/plwn15/schema/" id="plwn15schema"></Prefix>
    <Prefix namespace="http://www.w3.org/2001/XMLSchema#" id="xsd"></Prefix>
    <Prefix namespace="http://plwnrdf.sourceforge.net/plwn15/instances/" id="inst"></Prefix>
  </Prefixes>
</ProjectConfig>
