#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MIDI Player
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=ggdnfelcdiebaofocemalnfclifhbfij
Icon=chrome-ggdnfelcdiebaofocemalnfclifhbfij-Default
StartupWMClass=crx_ggdnfelcdiebaofocemalnfclifhbfij
OnlyShowIn=Old;
